{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">Log in to {{ issuer }} </h2>
  <div>
    <form action="/auth/selectProvider" method="post">
    {{ range $c := .Connectors }}
      <div class="theme-form-row">
        <input type="checkbox" name="providerID[]" value="{{$c.ID}}_{{$c.URL}}">
        <a href="{{ $c.URL }}" target="_self">
          <button class="dex-btn theme-btn-provider">
            <span class="dex-btn-icon dex-btn-icon--{{ $c.Type }}"></span>
            <span class="dex-btn-text">Log in with {{ $c.Name }}</span>
          </button>
        </a>
      </div>
    {{ end }}
    <input type="submit" value="submit">
    </form>
  </div>
</div>

{{ template "footer.html" . }}
